html {
  scroll-behavior: smooth;
}

#content {
  padding-top: 11rem;
}

/* LogoSS(1) */
#logo-1 {
  width: 43px;
  height: 40px;
  left: 25px;
  top: 19px;
}

#logo-2 {
  width: 72px;
}

.row label {
  margin-top: 1.5em;
  vertical-align: middle;
  text-align: right;
}

.row input {
  margin-top: 1em;
  padding: 0.35em;
  border-radius: 4px;
  width: 100%;
  border: 1px solid lightgray;
}

/* ################################### navbar ################################# */
nav {
  height: 50px;
}
/* ############################################################################ */

/* ########################## Profile pen edit style ##########################*/
.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  transition: filter 0.3s ease;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-image-container:hover .profile-image {
  filter: grayscale(100%);
}

.edit-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: translate(50%, 50%);
  width: 40px; /* Consistent width for the circle */
  height: 40px; /* Consistent height for the circle */
  font-size: 1.5rem; /* Slightly adjusted font size */
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  color: white;
  border: 2px solid white;
  border-radius: 50%; /* Makes the button round */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-image-container:hover .edit-icon {
  opacity: 1; /* Show icon when hovering */
}

.edit-icon:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
  transform: translate(50%, 50%) scale(1.1); /* Slightly enlarge the button */
}

/* ############################################################################ */

.hidden {
  display: none;
}

#location-suggestions {
  display: block; /* Ensure the list is displayed */
  position: absolute; /* Position it relative to the input field */
  z-index: 1055; /* Ensure it appears above the modal */
  max-height: 200px; /* Optional: Limit the height for scrolling */
  overflow-y: auto; /* Enable scroll for long lists */
  list-style: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  background-color: #fff; /* Ensure a white background */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}
#location-suggestions li {
  padding: 8px 12px; /* Add padding for items */
  cursor: pointer; /* Add a pointer cursor */
}
#location-suggestions li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #231f33, #6c21dc);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
}

.login-box {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  font-weight: bold;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}
/*
button {
  padding: 10px;
  background-color: #231f33;
  color: #f6f6f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #555;
}*/

/* CSS */
button {
  background: linear-gradient(to bottom right, #6c21dc, #80b4f6);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(211, 167, 252, 0.5),
    0.125rem 0.125rem 1rem rgba(127, 68, 254, 0.963);
}

button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(211, 167, 252, 0.5),
    0.125rem 0.125rem 1rem rgba(127, 68, 254, 0.963);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
}

section {
  padding: 100px 20px;
  min-height: 100vh; /* Each section takes at least the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(odd) {
  background-color: #f0f0f0;
}

section:nth-child(even) {
  background-color: #e0e0e0;
}

#dashboard-section {
  width: 100vw;
}

#dashboard-section .dashboard-projects-container {
  width: 50%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.form-group div {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 1rem; /* Add spacing between groups */
}

textarea {
  resize: vertical; /* Optional: Allow vertical resizing of textarea */
  width: 100%; /* Optional: Ensure full width */
}
